.about {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  align-items: center;
  padding: 15rem 2rem;
  padding-bottom: 15rem;
  position: relative;
}

.about_pic {
  max-width: 100%;
}
.head_about_content {
  font-size: 35px;
  font-weight: 500;
  line-height: 50px;
}
.about_content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}
.correct_content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.correct {
  display: flex;
  gap: 2rem;
}
.icon_coorect {
  width: 24px;
  height: 24px;
  align-content: center;
}
.titel_correct {
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}
