.testimonials {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.head_testimonial {
  text-align: center;
}
.testimonials .boxs {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.box_revyo {
  border: 2px solid #dddddd;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  width: 355px;
  height: 230px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.box_revyo:hover {
  border: 2px solid #f53838;
}
.box_one {
  border: 2px solid #f53838;
}
.headbox_revyo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image_name_eng {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.name_eng {
  font-size: 18px;
  font-weight: 500;
}
.titel_eng {
  font-size: 14px;
  font-weight: 400;
  color: #4f5665;
}
.reaght {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.pragraph_eng {
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #0b132a;
}
.icons_raight_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lift {
  width: 60px;
  height: 60px;
  margin-right: -2rem;
}
.raight {
  margin-bottom: -3rem;
}
.left_raight {
  display: flex;
  align-items: center;
  justify-content: center;
}
